      body{
        background-color: aquamarine;
      }

      h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        border: 5px;
        border-style: dotted;
        color: rgb(255, 18, 180);
      }

     img{
      border: 5px;
      border-color: blueviolet;
      border-style:ridge