body{
   background-color: rgb(255, 255, 255); 
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

ul{
    color: #0353a4;
    background-color: #b9d6f2;
    width: fit-content;
    padding: 8px 30px;
    
}

a{
    color: #061a40;
}

/* Color codes: #b9d6f2, #061a40, #0353a4, #006daa, #003559 */ 